@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Orelega+One&display=swap');.navbar-brand {
  font-family: "Anton", sans-serif;
  font-weight: bolder;
  font-size: 2rem;
}
.brand-name {
  color: orange;
}
.home {
  /* display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;  */
}
.about .row {
}
.about .row .content h3 {
  color: #333;
  font-size: 40px;
  font-family: "Anton", sans-serif;
}
h5 {
  font-size: 30px;
}
.serviceses {
  border: 2px solid orange;
  width: 100%;
  border-radius: 60px;
}
.serviceses:hover{

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.50);

}
.cards{
  border-radius: 60px;

}
.cards:hover{
}
.plan{
  text-align: center;
  background: #eee;
}
*{
  /* border: 1px green solid; */
}